<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Article</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>New Post</h1>
    <p>Create a new post.</p>
    <form action="/article/create" method="post">
        <input type="text" name="title" id="title" placeholder="Title" required>
        <br>
        <textarea name="content" id="content" placeholder="Content" required></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
